
<!-- FORM PEDIDO-->

<h3> <i class="fas fa-shopping-cart"></i> {{Titulo}}</h3>
<form name="FormPedido" [formGroup]="FormPedido" *ngIf="Accion == 'N'">
  <i>&nbsp;</i>

  <div class="form-group row">
    <label class="col-form-label col-sm-2 offset-sm-2">
      Ciudad:
    </label>
      <div class="col-sm-2">
        <p>
          <select name="miselect">
          <option [value]="item" *ngFor="let item of Ciudades">{{item}}</option>
          </select>
          </p>

    </div>
  </div>

  <!-- Domicilio -->
  <div class="form-group row">
    <label class="col-form-label col-sm-2 offset-sm-2">
      Domicilio de Entrega:
    </label>
    <div class="col-sm-4">
      <input
        id="inputDomicilio"
        class="form-control text-uppercase"
        name="Domicilio"
        formControlName="Domicilio"
        [ngClass]="{'is-invalid': (FormPedido.controls.Domicilio.touched || submitted)  
          && FormPedido.controls.Domicilio.errors}"
      />

      <div class="validacion" *ngIf="(FormPedido.controls.Domicilio.touched || submitted) 
                      && FormPedido.controls.Domicilio.errors?.required">
          Dato requerido.
        </div>
        <div class="validacion"
          *ngIf="(FormPedido.controls.Domicilio.touched || submitted) 
                     && (FormPedido.controls.Domicilio.errors?.minlength || FormPedido.controls.Domicilio.errors?.maxlength) ">
          Dato texto, 5 a 240 caracteres.
        </div>

    </div>
  </div>

  <!-- Descripcion -->
  <i>&nbsp;</i>
  <div class="form-group row">
    <label class="col-form-label col-sm-2 offset-sm-2">
      Describi el producto:
    </label>
    <div class="col-sm-4">
      <input
        id="inputDescripcion"
        class="form-control text-uppercase"
        name="Descripcion"
        formControlName="Descripcion"
        [ngClass]="{'is-invalid': (FormPedido.controls.Descripcion.touched || submitted)  
          && FormPedido.controls.Descripcion.errors}"
      />

      <div class="validacion" *ngIf="(FormPedido.controls.Descripcion.touched || submitted) 
      && FormPedido.controls.Descripcion.errors?.required">
Dato requerido.
</div>
<div class="validacion"
*ngIf="(FormPedido.controls.Descripcion.touched || submitted) 
     && (FormPedido.controls.Descripcion.errors?.minlength || FormPedido.controls.Descripcion.errors?.maxlength) ">
Dato texto, 5 a 240 caracteres.
</div>
    </div>
  </div>
            
  <div class="form-group row">
    <i>&nbsp;</i>
                <!--<button id="btnFoto" type="button" class="btn btn-primary col-sm-2 offset-sm-2">
                    <span class="fas fa-image"> </span> Añadir foto (opcional)
                </button>-->
    <div class="col-sm-2 offset-sm-2">
      <span class="col-form-label fas fa-image " style="color: #72EFDD;"> </span> 
      <label id="lblFoto" class="col-form-label"> &nbsp;Añadir foto (opcional)</label>
    </div>
      <input type="file" class="col-sm-4" id="btnArchivo" accept="image/png, image/jpeg"/>

      <i>&nbsp;</i>
  </div>


  <!-- COMERCIO ELECCION -->
  <div class="form-group row">
    <label class="col-form-label col-sm-2 offset-sm-2">
      Domicilio del comercio:
  </label>
    <div class="col-form-label col-sm-1">
      <input id="manual" type="radio" name="radio_domicilio" (click)="SelecFormaIngresoDomicilio('M')">
      &nbsp;
      <label class="col-sm-3 offset-sm-0"> Ingresar Domicilio </label>
    </div>
     <div class="col-form-label col-sm-4 offset-sm-1">
      <input id="gmaps" type="radio" name="radio_domicilio" (click)="SelecFormaIngresoDomicilio('G')">
      &nbsp;
      <label class="col-sm-3 offset-sm-0"> Elegir en el Mapa </label>
    </div>
  </div>


  <!-- COMERCIO MANUAL -->
    <div class="col-sm-4 offset-sm-4">
      <input
        id="inputComercio"
        class="form-control text-uppercase"
        name="Comercio"
        placeholder="Ingrese el Domicilio del Comercio"
        formControlName="Comercio"
        [ngClass]="{'is-invalid': (FormPedido.controls.Comercio.touched || submitted)  
          && FormPedido.controls.Comercio.errors}
        "*ngIf="FormaIngresoDomicilio == 'M'"

      />
      <div class="validacion" *ngIf="(FormPedido.controls.Descripcion.touched || submitted) 
      && FormPedido.controls.Descripcion.errors?.required">
Dato requerido.
</div>
<div class="validacion"
*ngIf="(FormPedido.controls.Comercio.touched || submitted) 
     && (FormPedido.controls.Comercio.errors?.minlength || FormPedido.controls.Comercio.errors?.maxlength)">
Dato texto, 5 a 240 caracteres.
</div>
    </div>
  <i>&nbsp;</i>

  <!-- MAPS -->
  <div *ngIf="FormaIngresoDomicilio == 'G'">  
   <app-g-maps (addrChange)="setDireccion($event)"> Direccion </app-g-maps>

</div>


<!-- ENTREGA PEDIDO -->

  <div class="form-group row">
    <label class="col-form-label col-sm-2 offset-sm-2">
      Entrega del Pedido:
    </label>
    <div class="col-form-label col-sm-1">
      <input id="fecha" type="radio" name="radio_entrega" (click)="SelecFormaEntrega('F')">
      &nbsp;
      <label class="col-sm-3 offset-sm-0"> Ingresar fecha </label>
    </div>
    <div class="col-sm-2">
      <input type="datetime-local" id="FechaEntrega" *ngIf="Entrega == 'F'">
    </div>
    <div class="col-form-label col-sm-4 offset-sm-1">
      <input id="inmediato" type="radio" name="radio_entrega" (click)="SelecFormaEntrega('I')">
      &nbsp;
      <label class="col-sm-3 offset-sm-0"> Lo antes posible</label>
    </div>
  </div>
        

  <div class="row justify-content-center">
    <i>&nbsp;</i>
    <button type="button" class="btn btn-primary" (click)="AgregarPedido()">
    <span class="fas fa-cart-plus"> </span> Agregar
    </button>
    &nbsp;
  </div>
  <i>&nbsp;</i>
</form>

<form id="FormCarrito" name="FormCarrito" [formGroup]="FormCarrito" *ngIf="Accion == 'C'">
  <i>&nbsp;</i>
  <div id="divTablaPedidos">
    <table class="table table-bordered table-striped" style="border-color: #72EFDD; color: #72EFDD;">
      <thead>
        <tr>
          <th class="text-center">Domicilio</th>
          <th class="text-center">Descripcion</th>
          <th class="text-center">Comercio</th>
          <th class="text-center text-nowrap">Foto</th>
          <th class="text-center text-nowrap">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of Pedidos" style="color: #72EFDD;"> 
          <td class="text-right">{{item.Domicilio | uppercase}}</td>
          <td class="text-right">{{item.Descripcion}}</td>
          <td>{{item.Comercio | uppercase}}</td>
          <td></td>
          <td class="text-center text-nowrap">
            <button
              type="button"
              class="btn btn-sm btn-outline-primary"
              style="color: #72EFDD; border-color: #72EFDD;"
              title="Consultar"
              
            >
              <span class="fas fa-eye"></span>
            </button>
            <button
              type="button"
              class="btn btn-sm btn-outline-primary"
              style="color: #72EFDD; border-color: #72EFDD;"
              title="Modificar"
              
            >
              <span class="fas fa-pencil-alt"></span>
            </button>
                      <button
              type="button"
              class="btn btn-sm btn-outline-danger"
              title="Eliminar"
              
            >
              <span class="fas fa-times"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    
    <div class="row justify-content-center">
      <i>&nbsp;</i>
      <button id="btnOtro" type="button" class="btn btn-primary" (click)="AgregarOtro()">
          <span class="fas fa-plus"> </span> Agregar otro producto
      </button>
      &nbsp;
      <button id="btnOtro" type="button" class="btn btn-primary" (click)="ProcederAPago()">
          <span class="fas fa-plus"> </span> Proceder al pago
      </button>
      &nbsp;
    </div>
  </div>
  <i>&nbsp;</i>

</form>

<form name="FormPago" [formGroup]="FormPago" *ngIf="Accion == 'P'">
  <i>&nbsp;</i>
  <div class="form-group row">
    <label class="col-form-label col-sm-3 offset-sm-1"> Selecciona la forma de pago</label>
    <div class="col-form-label col-sm-1 offset-sm-1">
      <input id="efectivo" type="radio" name="radio_forma_pago" (click)="SelecFormaPago('E')">
      &nbsp;
      <label class="col-sm-3 offset-sm-0"> Efectivo</label>
    </div>
    <div class="col-form-label col-sm-1 offset-sm-1">
      <input id="tarjeta" type="radio" name="radio_forma_pago" (click)="SelecFormaPago('T')">
      &nbsp;
      <label class="col-sm-3 offset-sm-0"> Tarjeta</label>
    </div>
  </div>
  <!-- MONTO -->
  <form name="FormPagoEfectivo" [formGroup]="FormPagoEfectivo" *ngIf="Opcion == 'E'">

  <div class="form-group row" *ngIf="Opcion =='E'">
    <label class="col-form-label col-sm-3 offset-sm-2">
      Ingresa el monto con el que vas a pagar:
    </label>
    <div class="col-sm-4">
      <input
        id="inputMonto"
        class="form-control text-uppercase"
        name="Monto"
        formControlName="Monto"
        [ngClass]="{'is-invalid': (FormPagoEfectivo.controls.Monto.touched || submittedPago)  
          && FormPagoEfectivo.controls.Monto.errors}"
      />

      <span class="text-danger" *ngIf="(FormPagoEfectivo.controls.Monto.touched || submittedPago) 
      && FormPagoEfectivo.controls.Monto.errors?.required">
        Dato requerido.
      </span>
      <span class="text-danger"
        *ngIf="(FormPagoEfectivo.controls.Monto.touched || submittedPago) 
            && (FormPagoEfectivo.controls.Monto.errors?.pattern) ">
        Dato numerico, mayor a 0.
      </span>
    </div>
  </div>

</form>

<form name="FormPagoTarjeta" [formGroup]="FormPagoTarjeta" *ngIf="Opcion == 'T'">

  <!-- NUMERO TARJETA -->
  <div class="form-group row" *ngIf="Opcion =='T'">
    <span class="col-form-label fas fa-cc-visa " style="color: #72EFDD;"> </span> 
    <label class="col-form-label col-sm-3 offset-sm-2">
      Numero de Tarjeta:
    </label>
    <div class="col-sm-4">
      <input
        id="inputTarjeta"
        class="form-control text-uppercase"
        name="Tarjeta"
        formControlName="Tarjeta"
        [ngClass]="{'is-invalid': (FormPagoTarjeta.controls.Tarjeta.touched || submittedPago)  
          && FormPagoTarjeta.controls.Tarjeta.errors}"
      />

      <span class="text-danger" *ngIf="(FormPagoTarjeta.controls.Tarjeta.touched || submittedPago) 
      && FormPagoTarjeta.controls.Tarjeta.errors?.required">
        Dato requerido.
      </span>
      <span class="text-danger"
        *ngIf="(FormPagoTarjeta.controls.Tarjeta.touched || submittedPago) 
            && (FormPagoTarjeta.controls.Tarjeta.errors?.pattern)">
        Revise los datos ingresados. La tarjeta debe ser VISA. 
      </span>
    </div>
  </div>
  <i>&nbsp;</i>

  <!-- TITULAR -->
  <div class="form-group row" *ngIf="Opcion =='T'">
    <label class="col-form-label col-sm-3 offset-sm-2">
      Nombre y apellido del titular:
    </label>
    <div class="col-sm-4">
      <input
        id="inputTitular"
        class="form-control text-uppercase"
        name="Titular"
        formControlName="Titular"
        [ngClass]="{'is-invalid': (FormPagoTarjeta.controls.Titular.touched || submittedPago)  
          && FormPagoTarjeta.controls.Titular.errors}"
      />
      <span class="text-danger" *ngIf="(FormPagoTarjeta.controls.Titular.touched || submittedPago) 
      && FormPagoTarjeta.controls.Titular.errors?.required">
        Dato requerido.
      </span>
      <span class="text-danger"
        *ngIf="(FormPagoTarjeta.controls.Titular.touched || submittedPago) 
            && (FormPagoTarjeta.controls.Titular.errors?.minlength || FormPagoTarjeta.controls.Titular.errors?.maxlength)">
        Revise los datos ingresados. El nombre del titular debe tener mas de 5 caracteres y menos de 24. 
      </span>
    </div>
  </div>
  <i>&nbsp;</i>
 
  <!-- CVV-->
  <div class="form-group row" *ngIf="Opcion =='T'">
    <label class="col-form-label col-sm-1 offset-sm-2">
      CVV:
    </label>
    <div class="col-sm-2 offset-sm-2">
      <input
        id="inputCVV"
        class="form-control text-uppercase"
        name="CVV"
        formControlName="CVV"
        placeholder="Cod. de Seguridad"
        [ngClass]="{'is-invalid': (FormPagoTarjeta.controls.CVV.touched || submittedPago)  
          && FormPagoTarjeta.controls.CVV.errors}"
      />
      <span class="text-danger" *ngIf="(FormPagoTarjeta.controls.CVV.touched || submittedPago) 
      && FormPagoTarjeta.controls.CVV.errors?.required">
        Dato requerido.
      </span>
      <span class="text-danger"
        *ngIf="(FormPagoTarjeta.controls.CVV.touched || submittedPago) 
            && (FormPagoTarjeta.controls.CVV.errors?.pattern)">
        Revise los datos ingresados. El codigo de seguridad debe tener tres digitos. 
      </span>
    </div>
  </div>

  <i>&nbsp;</i>

    <!-- VENC -->
    <div class="form-group row" *ngIf="Opcion =='T'">
    <label class="col-form-label col-sm-2 offset-sm-2">
      Fecha de vencimiento:
    </label>
    <div class="col-sm-2 offset-sm-1">
      <input
        id="inputVenc"
        class="form-control text-uppercase"
        name="Venc"
        placeholder="MM/AAAA"
        formControlName="Venc"
        [ngClass]="{'is-invalid': (FormPagoTarjeta.controls.Venc.touched || submittedPago)  
          && FormPagoTarjeta.controls.Venc.errors}"
      />
      <span class="text-danger" *ngIf="(FormPagoTarjeta.controls.Venc.touched || submittedPago) 
      && FormPagoTarjeta.controls.Tarjeta.errors?.required">
        Dato requerido.
      </span>
      <span class="text-danger"
        *ngIf="(FormPagoTarjeta.controls.Venc.touched || submittedPago) 
            && (FormPagoTarjeta.controls.Venc.errors?.pattern)">
        Revise los datos ingresados. La fecha debe ser mayor al dia de hoy 
      </span>
    </div>
  </div>
</form>
  <i>&nbsp;</i>

  <div class="row justify-content-center" *ngIf="Opcion != ''">
    <i>&nbsp;</i>
    <button type="button" class="btn btn-primary" (click)="Pagar()">
        <span class="fas fa-money-bill" *ngIf="Opcion == 'E'"> </span>
        <span class="fas fa-credit-card" *ngIf="Opcion == 'T'"> </span> Pagar
    </button>
    &nbsp;
</div>
<i>&nbsp;</i>
</form>

